/*------------------------------------------------------------------
  [x. Colors / .text-*]
  flatuicolors.com/palette/defo
------------------------------------------------------------------*/

.text-turquoise {
  color: #1abc9c;
}

.text-green-sea {
  color: #16a085;
}

.text-sun-flower {
  color: #f1c40f;
}

.text-orange {
  color: #f39c12;
}

.text-emerald {
  color: #2ecc71;
}

.text-nephritis {
  color: #27ae60;
}

.text-carrot {
  color: #e67e22;
}

.text-pumpkin {
  color: #d35400;
}

.text-peter-river {
  color: #3498db;
}

.text-belize-hole {
  color: #2980b9;
}

.text-alizarin {
  color: #e74c3c;
}

.text-pomergranate {
  color: #c0392b;
}

.text-amethyst {
  color: #9b59b6;
}

.text-wisteria {
  color: #8e44ad;
}

.text-clouds {
  color: #ecf0f1;
}

.text-silver {
  color: #bdc3c7;
}

.text-wet-asphalt {
  color: #34495e;
}

.text-midnight-blue {
  color: #95a5a6;
}

.text-concrete {
  color: #95a5a6;
}

.text-asbestos {
  color: #7f8c8d;
}

/*------------------------------------------------------------------
  [x. Text Opacity Utilities / .text-{color}-{opacity}]
------------------------------------------------------------------*/
.text-white-70 {
  color: white;
  opacity: 0.7;
}


/*------------------------------------------------------------------
  [x. Jumbotron / .jumbotron]
------------------------------------------------------------------*/

.jumbotron {
  position: relative;
  overflow: hidden;
  height: 100vh;
  margin: 0px;
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron-content {
  position: relative;
  z-index: 2;
}

.jumbotron-title {
  font-size: 56px;
}

/*------------------------------------------------------------------
  [x. Particles JS / #particles-js]
------------------------------------------------------------------*/

#particles-js canvas {
  position: absolute;
  top: 0;
  z-index: 1;
}

/*------------------------------------------------------------------
  [x. Button / .btn]
------------------------------------------------------------------*/

.btn {
  padding: 8px 25px;
  border-radius: 20px;
  font-size: 14px;
}

.btn.btn-outline {
  background: transparent;
}

.btn.btn-light.btn-outline:hover {
  background: white;
  color: black;
}

.btn-outline.btn-light {
  color: white;
}

/*------------------------------------------------------------------
  [x. Navbar / .navbar]
------------------------------------------------------------------*/

.navbar {
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-item .nav-link {
  font-size: 14px;
  color: white;
}

.navbar-nav .nav-item {
  margin-right: 1rem;
}

.navbar-nav .nav-item:last-child {

}

.navbar-nav.social-media-nav .nav-item {
  margin-right: 0rem;
}

.navbar-collapse.collapse.show {
  text-align: center;
}

.navbar-collapse.collapsing {
  text-align: center;
}

/*------------------------------------------------------------------
  [x. Section / .section]
------------------------------------------------------------------*/

.section {
  padding: 8rem 0;
}

.section-header {
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-title {
  padding-bottom: 1rem;
  font-weight: lighter;
}

.section-subtitle {
  opacity: 0.6;
}

/*------------------------------------------------------------------
  [x. Service Box / .service-box]
------------------------------------------------------------------*/

.service-box {
  height: 300px;
  padding: 3rem;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

.service-box-icon {
  font-size: 2rem;
}

.service-box-title {
  padding: 1.2rem 0;
  color: #2c3e50;
}

.service-box-text {
  font-size: 14px;
  opacity: 0.6;
}

.service-box.pop-in {
  transform: scale(0);
}

/*------------------------------------------------------------------
  [x. About Image / .about-img]
------------------------------------------------------------------*/

.about-img {
  width: 100%;
  min-height: 426px;
  background-size: cover;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

/*------------------------------------------------------------------
  [x. CTA  / .cta]
------------------------------------------------------------------*/

.cta {
  background-attachment: fixed;
}

.video-cta-icon {
  font-size: 2.2rem;
}
